#status-bar {
  width: 300px;
  display: flex;
}

#score {
  margin: 0;
  margin-left: auto;
  width: 65px;
}

#canvas {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 300px;
  border: 1px solid black;
}

.cell {
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  background-color: lightgrey;
  border: 1px solid white;
}

.invader {
  width: 18px;
  height: 18px;
  border-radius: 9px;
  background-color: purple;
}

.invader.landed {
  background-color: red;
}

.defender {
  width: 18px;
  height: 18px;
  border-radius: 9px;
  background-color: blue;
}

.defender.dead {
  background-color: red;
}

.projectile {
  width: 18px;
  height: 18px;
  border-radius: 9px;
  background-color: yellow;
}

.game-over {
  position: absolute;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 50px;
}
